Flask==2.0.1
Flask-Cors==3.0.10
Jinja2
MarkupSafe
Pillow
aiohttp
aiosignal
annotated-types
async-timeout
attrs
beautifulsoup4
blis
cachetools
catalogue
certifi
cffi
charset-normalizer
click
cloudpathlib
confection
cryptography
cymem
docx
frozenlist
google-api-core==2.12.0
google-api-python-client==2.20.0
google-auth==2.23.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.1.0
googleapis-common-protos==1.61.0
gspread
httplib2
idna
itsdangerous
langcodes
lxml
multidict
murmurhash
numpy
oauth2client
oauthlib
openai
packaging
pandas
pathy
pip
preshed
protobuf
pyasn1
pyasn1-modules
pycparser
pydantic
pydantic-core
pyparsing
python-dateutil
python-dotenv
pytz
requests
requests-oauthlib
rsa
setuptools
six
smart-open
soupsieve
srsly
thinc
tqdm
typer
typing-extensions
tzdata
uritemplate
urllib3
wasabi
weasel
werkzeug
wheel
yarl
